<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field>
                    <input matInput placeholder="Codigo">
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <input matInput placeholder="Descricao estacao de ponto">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"></agm-map>
            </div>
        </div>
    </mat-card-content>
</mat-card>
