<div class="crud-form">
  <h2>Listagem cargos</h2>
  <app-breadcrumb></app-breadcrumb>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <button
          mat-button
          (click)="pesquisar()">
          <mat-icon>search</mat-icon>
          Pesquisar
        </button>
      </div>
      <table
        mat-table
        [dataSource]="data | async">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef>
            Código
          </th>
          <td
            mat-cell
            *matCellDef="let element">
            {{element.id}}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nomeCargo">
          <th
            mat-header-cell
            *matHeaderCellDef>
            Nome
          </th>
          <td
            mat-cell
            *matCellDef="let element">
            {{element?.nomeCargo}}
          </td>
        </ng-container>

        <ng-container matColumnDef="acao">
          <th
            mat-header-cell
            *matHeaderCellDef></th>
          <td
            mat-cell
            *matCellDef="let element">
            <button
              mat-button
              (click)="editar(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-button
              style="color: crimson;"
              (click)="excluir(element)">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
        </ng-container>

        <tbody>
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<button
  mat-fab
  class="btn-fab-cadastro"
  (click)="adicionarNovo()"
  color="accent"
  aria-label="Example icon button with a bookmark icon">
  <mat-icon>add</mat-icon>
</button>
