<mat-toolbar
  color="primary"
  class="header-rh">
  <mat-toolbar-row>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>RH online</span>
    <span class="example-spacer"></span>
    <!-- <button
            mat-icon-button
            class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon"
        >
            <mat-icon>favorite</mat-icon>
        </button>
        <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
        >
            <mat-icon>share</mat-icon>
        </button> -->
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div>
      <button
        mat-button
        [matMenuTriggerFor]="menu">
        Cadastros
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          routerLink="/view/cargo">
          Cargo
        </button>
        <button
          mat-menu-item
          routerLink="/view/funcionario">
          Funcionário
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
