<mat-toolbar
  color="primary"
  class="header-rh">
  <mat-toolbar-row>
    <span>RH online</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div>
      <button
        mat-button
        [matMenuTriggerFor]="menu">
        Cadastros
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          routerLink="/view/cargo">
          Cargo
        </button>
        <button
          mat-menu-item
          routerLink="/view/funcionario">
          Funcionário
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
