/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
    width: 100%;
}

.crud-form {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.icone-button {
    cursor: pointer;
}